{% extends 'testapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load table_tags %}
{% block content %}
 
    
	<div class="container-fluid">
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">&nbsp;</div>
		<div class="row">
			<div class="col-lg-2 col-md-3">
				<ul class="list-group">
					<li class="list-group-item">{{user.username}}</li>
					<li class="list-group-item"><a href="{% url 'projects' %}">projects</a></li>
					<li class="list-group-item"><a href="{% url 'logout'  %}">Logout</a></li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-6" style="border:1px solid #ccc">
				<h3>Project New </h3>
				<div class="container-fluid">

					<form method="post">
						{% csrf_token %}
						{{project_form | crispy}}
						<input type="submit" name="" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>
		
		
	</div>
{% endblock %}