{% extends 'testapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">{{user.username}}</li>
                <li class="list-group-item"><a href="{% url 'projects' %}">projects</a></li>
                <li class="list-group-item"><a href="{% url 'logout'  %}">Logout</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-8 " style="border:1px solid #ccc">
            <h3>Project List <span class="label label-default"><a href="{% url 'project-add' %}" style="color:#fff">Add</a></span></h3>
            <div class="container-fluid ">
            	<div class="table-responsive">
            		<table class="table datatable " id="project_list">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Client</th>
                            <th>Capital</th>
                            <th>Target date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in data %}
	                        <tr>
	                            <td>{{project.id}}</td>
	                            <td>{{project.name}}</td>
	                            <td>{{project.client}}</td>
	                            <td>{{project.budget}}</td>
	                            <td>{{project.target_date}}</td>
	                            <td><a href="{% url 'project-update' pk=project.id %}">update</a> | <a href="{% url 'project-delete' pk=project.id %}">delete</a></td>
	                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
            	</div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}